---
layout: default
banner-image:
---



<!DOCTYPE html>
<html>
    <!------- This is the head of the HTML for linking external resources & metadata ------->
        {% include header-nav.html %}
    <head>
        {% include head.html %}
    </head>

<!------ This is the body, where all of the contents of our page go  ------->
    <body>

<!-- Header Section -->




<!-- Intro Section -->
    <section class="grid-center padded bg-light">
        <div class="col-4_md-6_xs-12 padded-2">
            <img src="/images/zen-studio-2.jpg" class="shape-teardrop">
        </div>
        <div class="col-7_md-6_xs-12-middle padded-2">
            <h2 class="text-featured"> Welcome home </h2>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, illum unde eius eligendi aliquid magni rem placeat officiis? Mollitia possimus aperiam nisi minima numquam soluta eius tempora officiis aliquid voluptas? </p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel atque sequi aliquam accusantium reprehenderit modi non quidem aperiam odio doloremque ad explicabo hic, error officia quod maiores eaque provident ipsa. </p>
            <a href="#" class="button"> Book a session </a>
        </div>
    </section>

<!-- Banner Section -->
    {% include banner.html %}

    <!-- Studio Section -->
    {% include studio.html %}
