<section class="p-10p xl:p-5p grid sm:grid-cols-2 xl:grid-cols-4 gap-6 md:gap-20 xl:gap-6">

  {% for class in site.classes %}
  <div class="border border-pumpkin text-center">
    <div class="pt-3 px-6 border-b border-pumpkin">
      <div class="bg-image aspect-square border border-pumpkin"
        style="background-image: url('{{class.featured_image}}');">
      </div>
      <h3 class="mt-5 mb-4">{{ class.title }}</h3>
    </div>
    <div class="p-6">
      <p class="mb-4">{{ class.description }}</p>
      <a class="button" href="/schedule">Sign Up</a>
    </div>
  </div>
  {% endfor %}

</section>