<nav class="md:col-7_sm-12-middle text-right center-sm-img hide-sm">
  <a href="/index.html"> Home </a>
  <a href="/about.html"> About </a>
  <a href="/products.html"> Products </a>
  <a href="/gallery.html"> Gallery </a>
  <a href="/contact.html"> Contact </a>
</nav>

<div class="col-1 show-sm">
  <div class="hamburger-button">
    <i class="fas fa-bars"></i>
  </div>
</div>

</div>

<nav class="mobile-menu bg-featured padded">
  <a href="/index.html"> Home </a>
  <a href="/about.html"> About </a>
  <a href="/products.html"> Products </a>
  <a href="/gallery.html"> Gallery </a>
  <a href="/contact.html"> Contact </a>
</nav>