<!-- Contact us Section -->
<section class="grid-center padded text-featured">
  <div class="col-12 padded-2 center">
    <h2 class="text-xl"> Find Us. <span class="sm-block">Contact Us.</span> </h2>
  </div>
  <div class="col-4_md-5_xs-12 padded-2 text-lato">
    <p class="margin-b-0"><strong> Zen Studio. </strong> </p>
    <p> 222 John Smith Ave<br>Victoria, Australia</p>
    <p> <em> Take the second left after the strange looking sign. </em></p>
    <p class="margin-b-0 text-bold"><a href="mailto:zenstudio@gmail.com">Email: zenstudio@gmail.com</a></p>
    <p class="text-bold"><a href="tel:18601634272">Phone: 18601634272</a></p>
  </div>
  <div class="col-6_md-7_xs-12 bg-image bg-map tall-50"></div>
</section>
<footer class="center">
  <p>Copyright 2023</p>
</footer>