<section class="grid-center padded bg-light">
  <div class="col-5_md-6_sm-12 padded-2">
    <h2 class="text-featured text-lg"> Our Studio. </h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed deleniti animi molestiae dicta quos quas! Dicta,
      expedita? Iusto error exercitationem aliquid velit amet tempore sed, non recusandae maxime ducimus expedita.</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid soluta quis dolorum commodi doloribus dolores,
      nemo totam eius minima repellat molestias, dolorem perspiciatis. Inventore rem modi deserunt corrupti amet a! </p>
    <ul>
      <li> Soluta quis dolorum commodi dolori </li>
      <li> S error exercitationem </li>
      <li> Aliquid soluta </li>
      <li> Lorem ipsum dolor sit </li>
    </ul>
  </div>
  <div class="col-5_md-6_sm-12 padded-2 grid">
    <div class="col-12 bg-image bg-venue tall-70 shape-window"></div>
  </div>
</section>